.btns {
	
	float: center;
	padding: 5px;
	margin: 5px;
}

.time {
	font-weight: 500;
	font-size: 18px;
	padding: 5px;
	margin: 5px;
}

 img {
	 margin-left: 5px;
     width: 50%;
   height: 50%;
      }

p {
    text-align: center;
}

section {
	margin-left: 0.8px;
}

h4 {
	margin-left: 5px;
}

.p1 {
	visibility: hidden;
}

.footer {
	text-align: center;
	padding: 20px 0;
	color: #999;
	font-size: 1.9rem;
}
